*{
    padding: 0;
    margin: 0;
}

body{
    font-family: roboto;
}

.wrapper{
    display: flex;
    position: relative;
}

.nav_container{
    border-right: 1px solid rgba(0, 0, 0, 0.267);
    width: 244px;
    background-color: white;
    padding: 8px 12px 20px 12px;
    flex-shrink: 0;
}


.logo img{
    width: 115px;
    height: 45px;
    margin-bottom: 19px;
}

.list{
    list-style-type: none;
    height: 725px;
    width: 220px;
    transition: all .2s ease;
    padding-top: 1em;
}


.list li{
    font-size: 13px;
}


.list a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 12px;
    margin: 4px 0 4px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.list a:hover{
    background-color: #cccccc5b;
    transition: all .2s ease;
    border-radius: 5px;
}

.list img{
    margin-right: 12px;
    border: 1px solid black;
}


.bottom-list{
    height: fit-content;
    padding-top: 1.5em;
}

.nav_list img{
    display: inline-block;
    align-items: center;
    justify-content: start;
    width: 20px;
    aspect-ratio: 1;
    color: white;
}


.middle_container{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
.middle_container ul{
    list-style-type: none;
    display: flex;
}

.buttons{
    position: absolute;
    top: 2.7em;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    cursor: pointer;
    width: fit-content;
    height: 25px;
    background-color: transparent;
}

.arrow-btn{
    border: none;
    font-size: 1.5em;
    display: block;
}

.prev
.next{
    position: absolute;
}


.carousel {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    width: 570px;
    transition: transform 0.3s ease-in;
    padding-bottom: .5em;
}

.spaced_container{
    display: flex;
    margin: 0 auto;
}

.perfil_img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin: 10px;
    background-image: url(images/pessoa.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}

.post_container{
    padding-top: 1em;
}

.post_upper_content{
    display: flex;
    padding-left: 4px;
    padding-bottom: 12px;
}
.post_upper_content p{
    margin-left: 2.5em;
}

.upper_post_area_img{
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(images/pessoa.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.post{
    background-color: black;
    width: 500px;
    display: block;
    aspect-ratio: 1;
}

.side_perfil_container{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.side_perfil{
    display: flex;
    flex-direction: column;
    padding-left: 4em;
}
.side_perfil a{
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 12px;
    font-weight: bold;
}
.perfil{
    width: 40px;
    aspect-ratio: 1;
    margin-right: 1em;
    border-radius: 50%;
    display: block;
    background-image: url(images/pessoa.jpg);
    background-position: center;
    background-size: cover;
}
.perfil-flex{
    display: flex;
    margin-top: 2em;
}
.side_perfil_content{
    margin-right: 8em;
}

.name{
    opacity: .7;
    font-size: 15px;
}