body{
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.wrapper{
    display: flex;
}

.nav_container{
    border: 1px solid rgba(0, 0, 0, 0.267);
    width: 16em;
    height: 100vh;
    padding: 0 0 0 1em;
    background-color: white;
    z-index: 1;
    position:fixed;
}

.list{
    list-style-type: none;
    height: 70vh;
    flex-direction: column;
    padding-left: 0;
    display: block;
}


.list li{
    display: block;
    align-items: center;
    margin-top: 2em;
    width: auto;
    height: auto;
    padding: 5px;
    text-align: left;
}

.list a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.bottom-list{
    margin-top:1em;;
    height: 10em;
}

.nav_list img{
    display: inline-block;
    align-items: center;
    justify-content: start;
    width: 25px;
    aspect-ratio: 1;
    color: white;
}

.logo img{
    width: 120px;
    height: 52px;
    
    
    margin-top: 2em;
}

.perfil_container{
    width: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.perfil_container ul{
    list-style-type: none;
    display: flex;
}
.perfil_img{
    width: 75px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ccc;
    display: block;
}