*{
    padding: 0;
    margin: 0;
}

body{
    font-family: roboto;
}

.wrapper{
    display: flex;
}

.nav_container{
    border: 1px solid rgba(0, 0, 0, 0.267);
    width: 20em;
    height: 100%;
    padding: 0 0 0 1em;
    background-color: white;
    display: block;
    position: sticky;
    flex-basis: 1;
}


.logo img{
    width: 115px;
    height: 45px;
    margin-top: 2em;
}

.list{
    list-style-type: none;
    height: 725px;
    flex-direction: column;
    padding-left: 0;
    display: block;
    margin-top: 2em;
}


.list li{
    display: block;
    align-items: center;
    font-size: 14px;
    margin-bottom: 1.2em;
}

.list a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 2em;    
}

.list img{
    margin-right: 12px;
}

.bottom-list{
    height: fit-content;
}

.nav_list img{
    display: inline-block;
    align-items: center;
    justify-content: start;
    width: 20px;
    aspect-ratio: 1;
    color: white;
}


.middle_container{
    border: 1px solid;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}

.middle_container ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.perfil_img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin: 10px;
}